/* desktop*/

.header-desktop {
  display: none;
}

.header-mobile {
  display: block;
}

main {
  display: flex;
  flex-direction: column;
}

body {
  position: relative;
}

.desktop {
  display: none;
}

.mobile {
  display: block;
}

/* header */

.header-mobile {
  position: absolute;
  display: flex;
  margin: 50px 0 0;
  padding: 0 6%;
  width: 100%;
  justify-content: center;
}

.hamburger {
  background: none;
  border: none;
}
.h-mobile-ham {
  display: flex;
  align-items: center;
  position: absolute;
  left: 6%;
}

.mobile-nav-bar {
  background: white;
  width: 100%;
  z-index: 9999;
  position: fixed;
  display: none;
}

.mobile-nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 6%;
}

.mobile-nav-links {
  display: flex;
  gap: 25px;
}

.mobile-nav-links a {
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: black;
}

.mobile-nav-bg {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: black;
  opacity: 0.6;
}

.nav-close {
  height: 16px;
}

.close-nav {
  border: none;
  background: none;
}

/* article top */

.article-top {
  display: grid;
  grid-template-columns: none;
  grid-template-rows: 360px 410px;
}

.article-top-content {
  padding: 0 6%;
}

.article-top-img img {
  width: 100%;
  height: 360px;
  object-fit: none;
}

.slide-btns {
  height: 55px;
  width: 110px;
  gap: unset;
  top: -55px;
  right: 0;
  left: unset;
}

.article-top-content h1 {
  font-size: 26px;
}

.slide-btns button {
  width: 55px;
  height: 55px;
  padding: 0 21.5px;
}

.slide-btns img {
  width: 12px;
}

/* article bottom */

.article-bottom {
  grid-template-columns: none;
  grid-template-rows: 240px 300px 240px;
}

.a-b-text {
  padding: 0 6%;
  gap: 15px;
}

.a-b-text p {
  font-size: 12.4px;
}

/* hide&show */

.show-nav {
  display: block;
}
